# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/
coverage/
**/generated_plugin_registrant.dart

# Outras plataformas (não usar no Hackathon Web)
android/
ios/
linux/
macos/
windows/

# Android Studio / IntelliJ
.idea/
*.iml
*.ipr
*.iws

# VS Code (se quiser ignorar configurações pessoais)
.vscode/

# Arquivos sensíveis (se repositório público)
firebase_options.dart
google-services.json
GoogleService-Info.plist

# Arquivos temporários
*.log
*.swp
.DS_Store